.container{
    font-family: arial;
    font-size: 24px;
}

h1,.container{
    text-align: center;
}
#logo{
    height:1em;
}

ul{
    display: inline-block;
    text-align: left;
}
.same{
    text-align: center;
    display:inline-block;
}

#phone,#linkdin,#email{
    text-align: center;
    height: 1.5em;
    display: inline-block;
}
